<tr>
	<td>
		<a href="/profile?phonenum={{ phonenum }}"
			>{{ lastname }}, {{ firstname }}</a
		>
	</td>
	<td>
		<div class="category">{{ baptism }}</div>
	</td>
	<td class="right-align">
		<button
			type="button"
			id="trigger-delete-modal"
			class="fa-button"
			aria-label="trigger-delete-modal"
			data-bs-toggle="modal"
			data-bs-target="#delete-modal"
			data-id = {{ phonenum }}
			{{!-- value = {{ phonenum }} --}}
		>
			<i class="fa-solid fa-trash"></i>
		</button>
	</td>
</tr>