<tr>
	<td>
		<a href="/profile?phonenum={{ phonenum }}"
			>{{ lastname }}, {{ firstname }}</a
		>
	</td>
	<td>
		<div class="category" id="{{baptism}}">{{ baptism }}</div>
	</td>
	<td class="right-align">
		<button
			type="button"
			class="delete"
			aria-label="delete-button"
			value = {{ phonenum }}>
			<i class="fa-solid fa-trash"></i>
		</button>
	</td>
</tr>