<tr>
    <td>
        <a href="/profile?phonenum={{phonenum}}"
            >{{ lastname }}, {{ firstname }}</a
        >
    </td>
    <td>
        <div class="category" id="{{baptism}}">{{ baptism }}</div>
    </td>
    <td>{{ time }}</td>
    <td class="right-align">
        <button
            type="button"
			class="delete fa-button"
			aria-label="delete-button"
            data-date = {{ ymddate }}
            data-session = {{ session }}
            data-phonenum = {{ phonenum }}
        >
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
</tr>